@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

/* Mixin para estilizar los títulos */
/* Mixin para estilizar imagen */
/* Mixin para boton */
.index-container {
  display: grid;
  place-items: center;
  height: 87vh;
  background-image: url("../img/fotoprincipal.jpg");
  background-size: cover;
  gap: 20px;
  text-align: center;
}

.index-titulo {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 10px 10px 10px #000000;
  transform: skewX(-10deg);
  font-size: 7em;
  margin: 0;
  color: #ffffff;
  margin-right: 1200px;
}

.index-texto {
  align-self: start;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
  margin-right: 1200px;
  margin-top: 0px;
  font-family: "Bebas Neue";
}

.index-button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient(to bottom, #aae11f, #4f6810);
  text-decoration: none;
  color: #fff;
  width: 300px;
  height: 100px;
  font-size: 25px;
  margin: auto;
  margin-right: 1410px;
}

.index-button:hover {
  color: #000000;
}

.fondo-servicio {
  background: linear-gradient(to bottom, #ffffff, #c5d1a1);
}

.titulo-servicios {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 2px 2px 2px #000000;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5vh;
  margin-top: 10px;
}

.contenido-servicios {
  overflow-x: hidden;
}

.imagen-servicios {
  width: 99%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 90px 10px 75px;
}
.imagen-servicios img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #aae11f;
  border-radius: 10px;
  margin-right: 100px;
}
.imagen-servicios img:last-child {
  margin-right: 0;
}

.fondo {
  background-image: url("../img/suplementosfondo.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-start-container {
  padding: 100px;
}

.text-start {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 10px 10px 10px #000000;
  color: #fff;
  font-size: 70px;
}

.carousel-inner {
  border: 10px solid #aae11f;
  border-radius: 5px;
}

.custom-carousel-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 20px;
  max-width: 0px;
  z-index: 9999;
}

.custom-carousel-container .carousel-inner {
  height: 400px;
  width: 750px;
  margin-block-end: 100px;
}

.dark-background {
  background: linear-gradient(to bottom, #333333, #000000);
}

.title-entrenamiento {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 10px 10px 10px #000000;
  color: #fff;
  font-size: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5vh;
  margin-top: 10px;
}

.imagen-entrenamientos {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 90px 10px 75px 0;
}
.imagen-entrenamientos img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #aae11f;
  border-radius: 10px;
  margin-right: 60px;
}
.imagen-entrenamientos img:last-child {
  margin-right: 0;
}

.fondo-contact {
  background-image: url("../img/fondocontact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 95vh;
}

.body-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.contact-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  font-family: "Bebas Neue";
  margin: 40px;
  width: 300px;
  max-width: 100%;
  z-index: 1;
}
.contact-form h2 {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 10px 10px 10px #000000;
  margin: 0;
  font-size: 70px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 4px solid #aae11f;
}
.contact-form button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient(to bottom, #aae11f, #4f6810);
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 35px;
  color: rgb(0, 0, 0);
  font-size: 23px;
  width: fit-content;
}
.contact-form button:hover {
  color: #ffffff;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue";
  margin-top: 40px;
  margin-left: 10%;
}
.contact-info h2 {
  font-weight: bold;
  font-family: "Bebas Neue";
  text-shadow: 10px 10px 10px #000000;
  margin: 0;
  text-align: center;
  font-size: 70px;
  z-index: 1;
  color: #fff;
}
.contact-info p {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: #aae11f;
}
.contact-info .contact-imagen {
  max-width: 70%;
  height: auto;
}
.contact-info .contact-imagen img {
  width: 100%;
  height: auto;
  margin-right: 0px;
  border-radius: 1%;
  border: 10px solid #aae11f;
}

.container-fluid {
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.color-nav {
  background: linear-gradient(to top, #aae11f, #8dbd16);
}

.navbar-brand {
  font-family: "Bebas Neue";
  font-size: 30px;
  letter-spacing: 0.1em;
  padding: 0;
}

@media (min-width: 370px) and (max-width: 767px) {
  .index-container {
    background-position: right top;
    text-align: center;
  }
  .index-titulo {
    font-size: 5em;
  }
  .index-texto {
    font-size: 1.2em;
  }
  .index-button {
    font-size: 1em;
    width: 170px;
    height: 55px;
  }
  .index-titulo,
  .index-texto,
  .index-button {
    display: block;
    margin: 10px auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .index-container {
    background-position: right top;
    text-align: center;
  }
  .index-titulo {
    font-size: 7em;
  }
  .index-texto {
    font-size: 2em;
  }
  .index-button {
    font-size: 1.2em;
    width: 200px;
    height: 70px;
  }
  .index-titulo,
  .index-texto,
  .index-button {
    display: block;
    margin: 10px auto;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  .titulo-servicios {
    margin-top: 50px;
  }
  .imagen-servicios {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .imagen-servicios img {
    width: 350px;
    height: 550px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .titulo-servicios {
    margin-top: 30px;
  }
  .imagen-servicios {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 75px;
    margin-top: 120px;
    width: 100%;
    height: 500px;
  }
  .imagen-servicios img {
    width: 30%;
    margin-right: 20px;
  }
  .imagen-servicios img:last-child {
    margin-right: 0;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  .text-start {
    font-size: 40px;
  }
}
@media (min-width: 370px) and (max-width: 767px) {
  .title-entrenamiento {
    margin-top: 50px;
  }
  .imagen-entrenamientos {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .imagen-entrenamientos img {
    width: 350px;
    height: 550px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .title-entrenamiento {
    margin-top: 30px;
  }
  .imagen-entrenamientos {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 75px;
    margin-top: 150px;
    width: 100%;
    height: 400px;
  }
  .imagen-entrenamientos img {
    width: 23%;
    margin-right: 20px;
  }
  .imagen-entrenamientos img:last-child {
    margin-right: 0;
  }
}
@media (min-width: 991px) and (max-width: 2000px) {
  .nav-item {
    margin-right: 250px;
  }
  .padding-right:after {
    content: "";
    display: inline-block;
    padding-right: 300px;
  }
}
@media (min-width: 370px) and (max-width: 522px) {
  .custom-carousel-container .carousel-inner {
    height: 200px;
    width: 350px;
    margin-block-end: 180px;
  }
  .carousel-inner {
    border: 7px solid #aae11f;
    border-radius: 5px;
  }
  .text-start-container {
    padding: 50px;
  }
  .text-start {
    font-size: 40px;
  }
}
@media (min-width: 523px) and (max-width: 767px) {
  .custom-carousel-container .carousel-inner {
    height: 250px;
    width: 500px;
    margin-block-end: 100px;
  }
  .text-start-container {
    padding: 50px;
  }
  .text-start {
    font-size: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .custom-carousel-container .carousel-inner {
    height: 300px;
    width: 600px;
    margin-block-end: 100px;
  }
  .text-start-container {
    padding: 30px;
  }
  .text-start {
    font-size: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .body-contacto {
    grid-gap: 50px;
    overflow-x: hidden; 
  }
  .contact-form h2,
  .contact-info h2 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .fondo-contact {
    height: 150vh;
  }
  .body-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-form,
  .contact-info {
    margin: 30px;
  }
  .contact-form h2 {
    margin-right: auto;
  }
  .contact-form h2,
  .contact-info h2 {
    font-size: 50px;
  }
  .contact-form input,
  .contact-form textarea {
    width: 95%;
    padding: 5px;
    border: 4px solid #aae11f;
    margin-bottom: 1px;
  }
  .contact-imagen img {
    width: 100%;
    height: auto;
    border: 6px solid #aae11f;
  }
}

/*# sourceMappingURL=main.css.map */
