/*CSS EN NAV*/
.container-fluid { 
  font-family: Arial, sans-serif;
  font-weight: bold;
}
  
.nav-link {
  margin-left: 250px;
}

/*CSS EN HOME*/
.index-container {
  display: grid;
  place-items: center;
  height: 87vh;
  background-image: url('img/fotoprincipal.jpg');
  background-size: cover;
  gap: 20px; 
  text-align: center; 
}

.index-titulo {
  transform: skewX(-10deg);
  font-weight: bold;
  font-size: 7em;
  margin: 0;
  color: #ffffff;
  font-family: 'Bebas Neue';
  text-shadow: 2px 2px 2px #000000; 
  margin-right: 1200px; 
}

.index-texto {
  align-self: start;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000; 
  margin-right: 1200px; 
  margin-top: 0px;
  font-family: 'Bebas Neue';
}

.index-button {
  background-color: #AAE11F;
  text-decoration: none; 
  color: #fff; 
  width: 300px;
  height: 100px;
  font-size: 25px;
  margin: auto;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 1410px; 
 
}

.index-button:hover {
  background-color:#1b2404;
  color: #ffffff;
}

@media (min-width: 370px) and (max-width: 767px) {
  
  .index-container {
    background-position: right top;
    text-align: center;
  }

  .index-titulo {
    font-size: 5em;
  }

  .index-texto {
    font-size: 1.2em;
  }

  .index-button {
    font-size: 1em;
    width: 170px;
    height: 55px;
  }

  .index-titulo,
  .index-texto,
  .index-button {
    display: block;
    margin: 10px auto;
  }  
}

@media (min-width: 768px) and (max-width: 991px) {
  .index-container {
    background-position: right top;
    text-align: center;
    }

  .index-titulo{
    font-size: 7em;
  }

  .index-texto{
    font-size: 2em;
  }

  .index-button{
    font-size: 1.2em;
    width: 200px;
    height: 70px;
  }

  .index-titulo,
  .index-texto,
  .index-button {
    display: block;
    margin: 10px auto;
  }
}

/*CSS EN SERVICIOS*/
.titulo-servicios {
  color: black;
  font-size: 100px;
  font-family: 'Bebas Neue';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5vh;
  margin-top: 10px;
}

.imagen-servicios {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 75px;
  margin-top: 90px;
}

.imagen-servicios img { 
  width: 20%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #AAE11F;
  border-radius: 10px;
  margin-right: 100px;
}

.imagen-servicios img:last-child {
  margin-right: 0;
}

@media (min-width: 370px) and (max-width: 767px) {
  
  .imagen-servicios {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .imagen-servicios img {
    width: 450px;
    height: 650px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imagen-servicios {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 75px;
      margin-top: 120px;
      width: 100%;
      height: 500px;
  }
  
  .imagen-servicios img {
      width: 30%;
      margin-right: 20px;
  }
  
  .imagen-servicios img:last-child {
      margin-right: 0;
  }
}


/*CSS EN SHOP*/
.fondo {
	background-image: url("img/suplementosfondo.jpg");
	background-size: cover;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: -1;
}

.text-start-container {
  padding: 100px;
  text-align: center;
}

.text-start {
	color: #fff;
  font-family: 'Bebas Neue';
  font-size: 70px;
	font-weight: bold;
  text-shadow: 10px 10px 10px #000000;
}

.carousel-inner {
	border: 10px solid #AAE11F;
  border-radius: 5px;
}


@media (min-width: 370px) and (max-width: 767px) {
  
  .text-start {
    font-size: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .imagen-servicios {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 75px;
      margin-top: 120px;
      width: 100%;
      height: 500px;
  }
  
  .imagen-servicios img {
      width: 30%;
      margin-right: 20px;
  }
  
  .imagen-servicios img:last-child {
      margin-right: 0;
  }
}


/*CSS EN ENTRENAMIENTOS*/
.dark-background {
  background-color: #333333;
}

.title-entrenamiento {
  color: #fff;
  font-size: 200px;
  font-family: 'Bebas Neue';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 5vh;
  margin-top: 10px;
}

.imagen-entrenamientos {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 75px;
  margin-top: 90px;
}

 .imagen-entrenamientos img {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #AAE11F;
  border-radius: 10px;
  margin-right: 60px;
}

.imagen-entrenamientos img:last-child {
  margin-right: 0;
}

@media (min-width: 370px) and (max-width: 767px) {
  
  .imagen-entrenamientos {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }

  .imagen-entrenamientos img {
    width: 450px;
    height: 650px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  
  .imagen-entrenamientos {
      justify-content: center;
      margin-right: 0;
      margin-bottom: 75px;
      margin-top: 150px;
      width: 100%;
      height: 400px;
  }
  
  .imagen-entrenamientos img {
      width: 23%;
      margin-right: 20px;
  }
  
  .imagen-entrenamientos img:last-child {
      margin-right: 0;
  }
}


/*CSS EN CONTACTO*/
.fondo-contact {
  background-image: url("img/fondocontact.jpg");
	background-size: cover;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  z-index: -1;
}

.body-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
}

.contact-form {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  font-family: 'Bebas Neue';
  margin: 40px; 
  width: 300px; 
  max-width: 100%;
  z-index: 1;
}

.contact-form h2 {
  margin: 0;
  font-size: 70px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 10px 10px 10px #000000;
}

.contact-form input, textarea {
  width: 100%;
  padding: 10px;
  border: 4px solid #aae11f;
}

.contact-form button {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 35px;
  font-weight: bold;
  background-color: #AAE11F;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 3%;
  font-size: 23px;
  width: fit-content;
}

.contact-form button:hover {
  background-color:#769c15;
  color: #000000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bebas Neue';
  margin-top: 40px;
  margin-left: 10%;
}

.contact-info h2 {
  margin: 0;
  text-align: center;
  font-size: 70px;
  z-index: 1;
  color: #fff;
  text-shadow: 10px 10px 10px #000000;
}

.contact-info p {
  margin: 0;
  text-align: center;
  font-size: 30px; 
  color: #AAE11F;
}

.contact-imagen {
  max-width: 70%;
  height: auto;
}

.contact-imagen img {
  width: 100%; 
  height: auto;
  margin-right: 0px;
  border-radius: 1%;
  border: 10px solid #aae11f;
}
  
    
    
  

