*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos base
html {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
}

    